## (c)make
CMakeFiles
*/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
makefile
build*
prebuilt
/bin

## windows build process
.vs
/deps
/MSVC*

# VSCode cache files
/.vscode/ipch/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!/dev/p3dcppgen/*
